@import "shared";

.homepage {
  margin-top: -60px;
  width: 100%;
  max-width: 100%;
}

html[data-theme="dark"] {
  .homepage {
    background: #151515 linear-gradient(-60deg,#0064cc4a, rgba(63, 43, 167, 0.30) 50%, #18225c)
  }
}

/* ActionButton */

.ActionButton {
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none !important;
  border-bottom: none;
  transition: all 0.2s ease-out;
  max-width: 50%;

  &.primary {
    color: var(--dark);
    background-color: var(--brand);
  }

  &.secondary {
    background: none;
    color: var(--brand);

    &::after {
      content: "›";
      font-size: 24px;
      margin-left: 5px;
    }

    &:hover {
      color: white;
    }
  }
}

@media only screen and (max-width: 480px) {
  .ActionButton {
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
  }
}

/* AppList */

.AppList {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

  .item {
    list-style: none;

    a img {
      border-radius: 20%;
      overflow: hidden;
    }
  }
}

/* Community */

.Community .content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .firstP img {
    float: left;
    width: 56px;
    height: 56px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .Community .Heading {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .Community .Heading {
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 1.5rem;
  }

  .Community .AppList {
    width: 100%;
    max-width: 500px;
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 961px) {
  .Community .column.first {
    border-right: 1px solid var(--ifm-table-border-color);
  }
}

/* Cross Platform */

.CrossPlatform {
  svg {
    max-width: 400px;
    margin: -20px 0;

    text {
      fill: var(--ifm-color-content-secondary);
    }
  }
}

@media only screen and (max-width: 960px) {
  .CrossPlatform .TwoColumns {
    grid-gap: 2rem;
  }

  .CrossPlatform svg {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .CrossPlatform .column.last {
    width: 86%;
    margin: 0 auto;
    text-align: center;
  }
}

/* Fast Refresh */

/* Make video flush with the bottom */
.FastRefresh {
  margin-bottom: -25px;
}

/* Get rid of extra padding at the bottom of the video */
.FastRefresh .column.last {
  margin-bottom: -6px;
}

@media only screen and (max-width: 480px) {
  .FastRefresh .column.last {
    padding: 0;
  }

  .FastRefresh video {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .FastRefresh .TwoColumns {
    grid-gap: 2rem;
  }

  .FastRefresh .column.last {
    width: 100%;
    padding: 0;
  }

  .FastRefresh video {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  /* Give video more space than text */
  .FastRefresh .TwoColumns {
    grid-template-columns: 2fr 1fr;
  }

  /* Make video flush with top of section */
  .FastRefresh .last {
    margin-top: -25px;
  }

  /* Need to set video height so it'll fit */
  .FastRefresh video {
    height: 340px;
    /* width: 100%; */
  }
}

/* Get Started */

.GetStarted,
.GetStarted p {
  color: white;
}

.GetStarted .Heading {
  color: var(--brand);
  text-align: center;
}

.GetStarted .content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.GetStarted .steps {
  align-self: center;
}

.GetStarted .steps li {
  font-size: 28px;
  margin-bottom: 8px;
}

.GetStarted .steps li p {
  font-size: 17px;
}

.GetStarted .terminal {
  display: flex;
  flex-direction: column;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px 30px 0px 30px;
  width: 600px;
  position: relative;
}

.GetStarted .terminal::before {
  content: "○ ○ ○";
  color: gray;
  font-size: 16px;
  position: absolute;
  left: 15px;
  top: 5px;
}

.GetStarted code {
  color: white;
  font-size: 18px;
  position: relative;
  background: none;
}

.GetStarted code:first-child::before {
  content: ">";
  position: absolute;
  left: -13px;
  color: gray;
}

@media screen and (max-width: 760px) {
  .GetStarted .content {
    width: 80%;
  }

  .GetStarted .steps li {
    margin-left: -1rem;
  }

  .GetStarted .terminal {
    width: 100%;
  }
}

/* Header Hero */

.HeaderHero {
  padding-top: 20px;
}

.HeaderHero .TwoColumns .column {
  max-width: initial;
}

.HeaderHero .socialLinks {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: -10px auto 0;

  .twitter-follow-button,
  .github-button {
    margin-right: 1rem;
  }
}

.HeaderHero .TwoColumns {
  align-items: center;
}

.HeaderHero .title {
  font-size: 84px;
  color: var(--brand);
  line-height: 1;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.HeaderHero .tagline {
  font-size: 36px;
  line-height: 1.3;
  color: white;
  font-weight: 500;
}

.HeaderHero .buttons {
  margin-top: 40px;
}

.HeaderHero .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 961px) {
  .HeaderHero .TwoColumns {
    grid-template-columns: 3fr 1fr;
  }

  .HeaderHero .TwoColumns .column.left {
    padding-right: 0;
  }

  .HeaderHero .TwoColumns .column.right {
    padding-left: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .HeaderHero .column.first {
    display: flex;
    justify-content: center;
  }
  .HeaderHero .column.last {
    text-align: center;
  }
}

@media only screen and (max-width: 760px) {
  .HeaderHero .title {
    font-size: 60px;
  }

  .HeaderHero .tagline {
    font-size: 30px;
  }
}

/* Heading */

.Heading {
  font-size: 25px;
  color: var(--ifm-font-color-base);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Home page */

.HomePage {
  width: 100%;
  overflow-x: hidden;
}

/* Logo Animation */

.LogoAnimation {
  width: 350px;
}

@media only screen and (max-width: 760px) {
  .LogoAnimation {
    width: 100%;
  }
}

.LogoAnimation .screen {
  transition: all 850ms ease-in-out;
  stroke-opacity: 0;
  transform: scale(2.25, 1.33) rotate(0);
  stroke-width: 5px;
}

.LogoAnimation .background {
  fill: var(--dark);
}

.LogoAnimation .logoInner {
  transform: scale(1);
  transition: all 850ms ease-in-out;
  transition-delay: 50ms;
}

.LogoAnimation.mobile .logoInner,
.LogoAnimation.mobile2 .logoInner {
  transform: scale(0.4);
}

.LogoAnimation.desktop .logoInner {
  transform: scale(0.5);
}

.LogoAnimation.laptop .logoInner {
  transform: scale(0.35);
}

.LogoAnimation.full .screen {
  stroke-opacity: 0;
  transform: scale(2.25, 1.33) rotate(0);
  opacity: 1;
  transition: none;
}

.LogoAnimation.mobile .screen {
  stroke-opacity: 1;
  transform: scale(1) rotate(0);
  opacity: 1;
  stroke-width: 5px;
}

.LogoAnimation.desktop .screen {
  stroke-opacity: 1;
  transform: scale(1.125, 1.1) rotate(-90deg);
  opacity: 1;
  stroke-width: 8px;
}

.LogoAnimation.laptop .screen {
  stroke-opacity: 1;
  transform: scale(0.83) rotate(-90deg);
  opacity: 1;
  stroke-width: 5px;
}

.LogoAnimation.mobile2 .screen {
  stroke-opacity: 1;
  opacity: 1;
  stroke-width: 5px;
  transform: scale(1) rotate(-180deg);
}

.LogoAnimation.full2 .screen {
  stroke-opacity: 0;
  transform: scale(2.25, 1.33) rotate(-180deg);
}

.LogoAnimation:not(.mobile):not(.mobile2) .speaker {
  opacity: 0;
  transform: scaleX(0);
}

.LogoAnimation:not(.desktop) .stand {
  transform: scaleX(0);
}

.LogoAnimation:not(.laptop) .base {
  transform: scaleX(0);
}

.LogoAnimation .speaker,
.LogoAnimation .stand,
.LogoAnimation .base {
  transition: all 850ms ease-in-out;
}

/* Native Apps */

.NativeApps {
  overflow: hidden;
  background: linear-gradient(-60deg, rgb(102, 39, 202) 0%, rgb(172, 99, 255) 100%);

}

html[data-theme="dark"] {
  .NativeApps {
    background: #151515 linear-gradient(60deg, rgba(63, 43, 167, 0.3) 50%, #18225c);
  }
}

@media only screen and (max-width: 960px) {
  .NativeApps .column.last {
    max-height: 300px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .NativeApps .column.last {
    width: 66.7%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 961px) {
  .NativeApps {
    max-height: 400px;
  }

  /* Correct for whitespace in the image of phones */
  .NativeApps .column.left {
    margin-top: -25px;
  }
}

/* Native Code */

.NativeCode .column.last {
  margin-bottom: -25px;
}

.NativeCode pre {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .NativeCode .column.last {
    width: 100%;
    padding: 0;
    overflow-x: hidden;
  }

  .NativeCode .prism-code {
    font-size: 10px;
    padding: 1.25rem 1.25rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .NativeCode .TwoColumns {
    grid-gap: 0.5rem;
  }

  .NativeCode .column.last {
    width: 100%;
    padding: 0;
    overflow-y: auto;
  }

  .NativeCode .prism-code {
    width: 30rem;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 961px) {
  .NativeCode .TwoColumns .column.right {
    /* Make flush with top and bottom */
    margin-top: -25px;
    /* Get rid of default left padding */
    padding-left: 0;
    display: flex;
  }

  .NativeCode .column.right .prism-code {
    /* Bleed background into the right */
    margin-right: -9999px;
    max-height: 410px;
  }
}

/* Native Development */

.NativeDevelopment {
  overflow-y: hidden;
}

.NativeDevelopment .dissection {
  position: relative;
  margin-top: -25px;
}

.NativeDevelopment .dissection img {
  position: absolute;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 960px) {
  .NativeDevelopment .TwoColumns {
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .NativeDevelopment .dissection {
    height: 350px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .NativeDevelopment .dissection {
    height: 450px;
  }
}

@media only screen and (min-width: 961px) {
  .NativeDevelopment .dissection {
    height: 300px;
  }
}

/* Section */

.Section {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-x: hidden;
}

.Section + .Section {
  box-shadow: inset 0 2px 0px -1px rgba(255, 255, 255, 0.08);
}

.Section.tint {
  background-color: #11006207 ;
}

html[data-theme="dark"] {
  .Section.tint {
    background: #000 linear-gradient(-60deg,#0064cc4a,#3e2ba74d 50%, #222c64b0);
  
  }
}

.Section.dark {
  background-color: var(--dark);
}

.Section p a {
  @extend %link-style;
}

html[data-theme="dark"] .Section p a {
  @extend %link-style-dark;
}

/* Talks */

.Talks {
  .twitter-follow-button {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 960px) {
  .Talks .TwoColumns {
    grid-gap: 2rem;
  }

  .Talks .column.last {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*
   * If the full-width video won't fit, make it full-width.
   * https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe/
   */
  .Talks .vidWrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  .Talks iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 961px) {
  /* Give more width for the video */
  .Talks .TwoColumns {
    grid-template-columns: 1fr 2fr;
  }

  .Talks iframe {
    width: 560px;
    height: 315px;
  }
}

/* Two columns */

.TwoColumns {
  display: grid;
}

.TwoColumns .column {
  width: 100%;
}

.TwoColumns .column.first {
  grid-area: first;
}

.TwoColumns .column.last {
  grid-area: last;
}

html[data-theme="light"] {
  .TwoColumns .column.last {
    background: #000 linear-gradient(-60deg,#0064cc4a,#3e2ba74d 50%,rgba(24, 34, 92, 80%));
  }
}

@media only screen and (min-width: 961px) {
  .TwoColumns {
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "first last";
  }

  .TwoColumns.reverse {
    grid-template-areas: "last first";
  }

  .TwoColumns .column {
    max-width: 450px;
  }

  .TwoColumns .column.left {
    padding-right: 25px;
  }

  .TwoColumns .column.right {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 960px) {
  .TwoColumns,
  .TwoColumns.reverse {
    grid-template-columns: 1fr;
    grid-template-areas: "first" "last";
  }

  .TwoColumns .column {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 480px) {
  .TwoColumns .column {
    padding: 0 1.25rem;
  }
}

/* Twitter Follow Button */

.twitter-follow-button {
  display: inline-block;
  position: relative;
  height: 28px;
  box-sizing: border-box;
  padding: 1px 10px 1px 9px;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  font-size: 13px;
  line-height: 26px;

  &:hover {
    color: #fff;
    background-color: #0c7abf;
  }

  .icon {
    position: relative;
    display: inline-block;
    top: 4px;
    height: 18px;
    width: 18px;
    margin-right: 4px;
    background: transparent 0 0 no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
  }
}


.HeaderHero {
  display: flex;
  background: linear-gradient(-60deg, #6627ca 0%, #ac63ff 100%)
}

html[data-theme="dark"] {
  .HeaderHero {
    background: #7f00ff29;
  }
}

.HeaderHero svg {
  color: #ffffff;
}


.HeaderHero .titleContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

.HeaderHero .title {
  margin: auto;
  font-size: 85px;
  line-height: 1;
  margin-top: 0;
  font-weight: 100;
}

.HeaderHero .tagline {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  line-height: 1.3;
  font-weight: 400;
  max-width: 540px;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .HeaderHero .tagline {
    font-size: 20px;
  }
}

.HeaderHero .buttons {
  margin: 20px auto;
}

.HeaderHero .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ActionButton {
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none !important;
  border-bottom: none;
  transition: border 0.4s;
}

.ActionButton.secondary {
  color: #ffffff;
}

.ActionButton.primary {
  color: #ffffff;
  background-color: transparent;
  border-radius: 35px;
  border: 8px solid #ffffff44;
  &:hover {
    border-color: #fffa;
  }
}


.ActionButton.secondary::after {
  content: "›";
  font-size: 24px;
  margin-left: 5px;
}

html[data-theme="light"] {
  .ActionButton.secondary:hover {
    color: white;
  }
}

.NativeCode .prism-code {
  border-radius: 0;
  font-size: 80%;
  height: 100%;
}

.prism-code {
  background: var(--deepdark);
  font-size: 15px;
}

.NativeCode .prism-code {
  background: transparent;
}


@media only screen and (min-width: 961px) {
  html[data-theme="light"] {
    .NativeCode .prism-code {
      background-color: transparent;
    }
  }
}

@media only screen and (min-width: 961px) { 
  html[data-theme="light"] {
    .NativeCode .prism-code {
      background: rgb(30, 32, 67);
      box-shadow: inset 0 2px 0px -1px rgba(255, 255, 255, 0.08);
    }
    .NativeCode.tint .prism-code {
      background: #0e1336;
    }
  }
}

@media only screen and (max-width: 600px) {
  .NativeCode .prism-code {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .NativeCode .prism-code {
    padding: 0;
  }
}

@media only screen and (min-width: 600px) {
  .FeatureSection {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    font-size: 16px;
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      cursor: default;
    }
    li {
      list-style-type: none;
      background: #ffffff10;
      border: 6px solid #ffffff2e;
      margin: 5px;
      color: #fffd;
      padding: 3px 14px;
      display: inline-block;
      border-radius: 40px;
      transition: border 400ms;
      &:hover {
        color: #fff;
        border-color: #fff9;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .FeatureSection {
    margin: 0 32px;
  }
}

@media only screen and (max-width: 480px) {
  .FeatureSection {
    margin: 0 4px;
  }
}

::-moz-selection { background: rgba(100, 57, 255, 0.25); }
::selection { background: rgba(100, 57, 255, 0.25); }
html[data-theme="dark"] {
  ::-moz-selection { background: #6627cabb; }
  ::selection { background: #6627cabb; }
}

.react-toggle .react-toggle-thumb {
  box-shadow: none !important;
}
